body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    color: #333;
}

form {
    margin-bottom: 20px;
}

input, button {
    margin-top: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}
